<div class="home-wrapper">
  <h1>Welcome to the Hunger Games</h1>
  <p>Each year 24 children across Panem are entered in to the Hunger Games. Please enjoy this year's reaping.</p>

  <%= submit_tag "reap" %>


</div>